ErrorDocument 404 /404.php
Options +FollowSymlinks
RewriteEngine On
RewriteRule ^sig2@(.*)@(.*)@(.*)@(.*)@(.*)@(.*)@(.*)@(.*)@(.*)\.png$ ./getdata_v2.php?id=$1&server=$2&img=$3&size=$4&advanced=$5&advanced_ext=$6&settings=$7&flag=$8&font=$9 [QSA,L]